@using Usp.Models
@rendermode InteractiveServer

<div class="@CssClass" @onclick="Clicked" style="border-color: @BorderColor">
    <h3>@Model.Name </h3>    
    <div class="@TextAlignCss">
        <p class="price-text">@Model.Price kr</p>
        <p>@Model.Header</p>   
    </div>
    <p class="tariff-description">@Model.Description</p>
    <ul class="ul-style">
        @foreach (var property in Model.Properties.OrderBy(p => p))
        {
            <li><div class="li-checked">V </div> @property</li>
        }
    </ul>
</div>

@code {
    private bool _selected = false;

    [Parameter]
    public SellingPointViewModel Model { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public string TextAlignCss { get; set; }

    public string BorderColor
    {
        get
        {
            return _selected ? "black" : "white";
        }
    }

    private async Task Clicked()
    {
        _selected = !_selected;

        await OnTariffSelected.InvokeAsync(Model);
    }

    [Parameter]
    public EventCallback<SellingPointViewModel> OnTariffSelected { get; set; }
}
